strict-ssl=false
http_proxy=http://webdefence.global.blackspider.com:8081
proxy=http://webdefence.global.blackspider.com:8081
NODE_TLS_REJECT_UNAUTHORIZED=0
registry=http://registry.npmjs.org/
strict-ssl=false